.header-img-expanded{
    height:35%;
    width:40%;
    animation: expand 1s 1;
}

.header-img-contracted{
    height:20%;
    width:25%;
    animation: contract 1s 1;
}

@keyframes expand {
    from{
        height:20%;
        width:25%;
    }
    to{
        height:35%;
        width:40%;
    }
}

@keyframes contract {
    from{
        height:35%;
        width:40%;
    }
    to{
        height:20%;
        width:25%;
    }
    
}

.header-text{
    color:#F2E86D;
    font-family: 'Charmonman', cursive;
}

.header-text-large{
    font-size: 3rem;
    animation: increase 1s 1;
}

.header-text-small{
    font-size:1.5rem;
    animation: decrease 1s 1;
}

@keyframes increase {
    from{
        font-size: 1.5rem;
    }
    to{
        font-size: 3rem;
    }
}

@keyframes decrease {
    from{
        font-size: 3rem;
    }
    to{
        font-size: 1.5rem;
    }
}